@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS */
body {
	margin: 0;
	font-family: Arial, sans-serif;
	background: linear-gradient(to bottom, #004CC5, #87CEEB);
	color: white;
  }
  
  .overall-style {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	text-align: center;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
  
  .card-style {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
  }
  
  .heading-one-style {
	width: 100vw;
	padding: 20px;
	background: linear-gradient(to bottom, #191970, rgba(25, 25, 112, 0));
	color: white;
	text-align: center;
	box-sizing: border-box;
  }
  
  .heading-one-size {
	font-size: 46px;
	margin: 0;
	padding: 0;
  }
  
  .content-style {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	width: 100%;
	max-width: 600px;
  }
  
  .button-style {
	margin-top: 10px;
	padding: 10px 20px;
	font-size: 20px;
	background-color: #71AFFF;
	color: white;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .button-style:hover {
	background-color: #4DA3FF;
  }
  
  .input-style {
	width: 100%;
	max-width: 400px;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 20px;
  }
  