@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-center-rgb: 173, 216, 230;
	--background-edge-rgb: 0, 0, 139;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 0, 0, 0;
		--background-center-rgb: 0, 0, 139;
		--background-edge-rgb: 0, 0, 139;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: radial-gradient(
		circle at center,
		rgb(var(--background-center-rgb)),
		rgb(var(--background-edge-rgb))
	);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
